<div class="footer">
    <div class="item" id="brand-name">Newbee.</div>
    <div class="item">This website was coded with <i class="fas fa-heart"></i> by <a href="https://www.youtube.com/watch?v=iik25wqIuFo"> Le Wagon Batch#556</a></div>
    <div class="item"><a href="https://github.com/asesse/Newbee"><i class="fab fa-fw fa-github"></i></a></div>
</div>
